---
---

@import "main";

body{
  font-family: system-ui;
  background-color: white;
  color: #050505;
}

div.masthead{
  border-bottom: 5px solid red;
}
ul.visible-links, li.masthead__menu-item{
  font-family: system-ui;
  color: red;
}

h1,h2{
  color: red;
}

hr{
  color: red;
  height: 5px;
}

section{
  padding-top: 2vw;
}

div.float-container {
  width: 100%;
  float: left;
}

div.float-child {
    width: 50%;
    float: left;
}

div.image-in-text{
  width: 40vw;
  float: right;
}

img.my-photo{
  width: 20vw;
  border-radius: 25%;
}
img.header-image{
  width: 100vw;
}
img.book{
  width: 25vw;
  padding-left: 3vw;
  padding-bottom: 3vw;
}

button.big{
  min-height:60px; 
  width:20vw;
  float: center;
  border: 3px solid rgba(128,64,0,0.8);
  border-radius: 15px;
  background-color: rgba(255,255,128,0.8);
  cursor: pointer;
}
button.big:hover{
  min-height:60px; 
  width:20vw;
  float: center;
  border: 3px solid rgba(128,64,0,0.8);
  border-radius: 15px;
  background-color: rgba(255,200,96,0.8);
  cursor: pointer;
}

table{
  width: 100vw;
}

thead{
  background-color: lightgreen;
}
