---
---

@import "main";

div.masthead, div.masthead__inner_wrap, div.masthead__menu , nav.greedy-nav {
  font-family: cursive;
  background-color: black;
  color: white;
}
div.masthead{
  border-bottom: 5px solid red;
}

body{
  font-family: system-ui;
  background-color: white;
  color: #050505;
}

h1{
  color: red;
}

hr{
  color: red;
  height: 5px;
}
